// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: 'Merriweather', serif;
  //   font-family: 'Prompt', serif;
  //   font-family: 'Prompt', serif;
  font-weight: 100;
  font-style: normal;
}

.bg-mulberry {
  background: #bb6aa3;
}
.bg-cerise {
  background: #de52a5;
}
.bg-sage-green {
  background: #85ba62;
}

.base_box_button {
  font-family: cursive;
  font-size: 12px !important;
}

.box_1 {
  color: var(--q-secondary);
}

.box_button_1 {
  // color: var(--q-primary);
  // background-color: #e8686862;
  color: white;
  background-color: #243642;
}

.box_2 {
  color: #243642;
}

.box_button_2 {
  // color: var(--q-accent);
  // background-color: #08446588;
  color: white;
  background-color: #387478;
}

.box_3 {
  color: #387478;
}

.box_button_3 {
  // color: var(--q-teal);
  // background-color: #087e8b80;
  color: white;
  background-color: #155E95;
}

.box_3 {
  color: #155E95;
}

.box_button_4 {
  // color: var(--q-teal);
  // background-color: #087e8b80;
  color: white;
  background-color: #A64D79;
}

.box_4 {
  color: #A64D79;
}

.progress-bar-1 {
  height: 8px;
  border-radius: 3px;
  background: -webkit-linear-gradient(45deg, #780000, #de52a5) !important;
  background: linear-gradient(45deg, #780000, #de52a5) !important;
}

.progress-bar-2 {
  height: 8px;
  border-radius: 3px;
  background: -webkit-linear-gradient(45deg, #003049, #bb6aa3) !important;
  background: linear-gradient(45deg, #003049, #bb6aa3) !important;
}

.progress-bar-3 {
  height: 8px;
  border-radius: 3px;
  background: -webkit-linear-gradient(45deg, #087e8b, #85ba62) !important;
  background: linear-gradient(45deg, #087e8b, #85ba62) !important;
}